.container {
	margin: 0 40rpx;
}
.empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: 60rpx;
	font-size: 24rpx;
	color: #9d9d9c;
	text-align: center;
	image {
		width: 160rpx;
		height: 160rpx;
		margin-bottom: 20rpx;
	}
}